.hero-title {
    margin-bottom: 24px;
    letter-spacing: -4px;
}
.hero-text-title {
    display: block;
    font-size: 24px;
    letter-spacing: 0px;
}
#js-rotating {
    font-size: 30px;
    font-weight: lighter;
}
.hero-text-rotating {
    font-size: 24px;
}

.contact-details-body {
    margin-bottom: 21px;
}

#profile h3 {
    font-size: 18px;
    font-weight: bold;
}

#services .text-grey {
    font-size: 14px;
}

#services .item {
    height: 280px;
}

.error {
    color: #f00 !important;
    font-weight: bold !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin3 .7s infinite linear;
}
@-moz-keyframes spin3 {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#knowledge .item h4 {
    margin-bottom: 24px;
}

#knowledge .item p {
    margin: 16px 0;
    font-size: 12px;
    height: 560px;
}

@media (max-width: 960px) {
    #knowledge .item p {
        height: auto;
    }
}

#valuestream {
    width: 100%;
}

.red {
  color: #f00;
}

.hello-casek-img {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-right: 12px;
}

header .general-title {
  padding-top: 12px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   background-color: #00a69a;
   color: #fff;
}

#contents {
  padding: 12px 48px 60px 48px;
}

#contents h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

#services .item {
  height: 300px;
}
#tech .item {
  height: 300px;
  font-size: 12px;
}

#contact form {
  background-color: #fff;
  padding: 21px;
}
#contact .contact-form .form-group .input-group input {
  color: #000;
}
#contact .contact-form .form-group label {
  color: #000;
}
.select2-dropdown-custom {
  background-color: #fff;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option {
  color: #000;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option--highlighted[aria-selected] {
  color: #fff;
}
.select2-container--default .select2-selection--single.select2-container-custom {
  background-color: #fff;
  color: #000;
}
.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__rendered {
  color: #000;
}
#contact .contact-form .form-group .input-group textarea {
  color: #000;
}
#contact .contact-form .form-group button {
  background-color: #00a69a;
  color: #000;
}

.spritebox h2 {
  font-size: 24px;
  margin-bottom: 12px;
  padding: 0.2em;
  background: linear-gradient(transparent 80%, #00a69a 80%);
}

@media (max-width: 768px) {
  .spritebox .spimg {
    width: 100%;
    margin: 12px 0px;
  }
}
@media (min-width: 768px) {
  .spritebox .spimg {
    width: 600px;
    margin: 12px 0px;
  }
}
